<h1>Meetup With Location</h1>

<section>
  <h1><a href="/meetups/{{meetup.id}}">{{meetup.name}}</a></h1>
  <p>{{meetup.description}}</p>
  <p>{{location.name}}</p>
  <p>{{location.address}}</p>
</section>
