extends layout

block content
  .row
    .large-4.columns
      .callout
        h3=renderAuthorByBook.book.title
        p
          img.thumbnail(src=renderAuthorByBook.book.cover, alt=renderAuthorByBook.book.title)
    .large-8.columns
      .row
        .small-8.columns
          .callout
            p.h2=renderAuthorByBook.book.genre
            p.subheader=renderAuthorByBook.book.description
        .small-4.columns
          if user.admin
            .callout
              a.warning.expanded.button(href=renderAuthorByBook.book.id + '/edit') Edit Book
              a.alert.expanded.button(href=renderAuthorByBook.book.id + '/delete') Remove book
      .row    
        for author in renderAuthorByBook.authorsByBook
          .small-4.columns  
            .callout
              a(href='../authors/' + author.id)
                p.header=author.full_name
                img.thumbnail.sub-img-author(src=author.portrait_url, alt=author.full_name)
