extends layout

block content

  .row.column
    a.large.success.expanded.button(href='author/create') Add A Book
  .row.small-up-1.medium-up-2.large-up-3
    for book in books
      .column
        .callout
          h4= book.title
          p
            img(src=book.cover, alt=book.title)
          p.lead=book.full_name
          p.subheader=book.genre
          p.text.subheader=book.description
          a.warning.expanded.button(href=book.id+'/edit') Edit Book
          a.alert.expanded.button(href=book.id+'/remove') Remove book
